/* Setting  height */
@media screen and (max-height: 1023px) {
    .SignUpCard{
        height: 60vh;
    }
}

@media screen and (min-height: 860px) {
    .SignUpCard{
        height: 530px;
    }
}

.SignUpCard {
    width: 350px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    margin-top: 10vh;
}

.SignUpCard h1 {
    color: #590C69;
    font-size: 25px;
    white-space: nowrap;
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.SignUpCard .errText {
    color: rgb(189, 39, 39);
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.SignUpCard .succText {
    color: #1fd655;
    font-size: 15px;
    text-align: center;
    font-weight: 500;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.cancelIcon {
    color: #590C69;
    max-width: 10px;
    font-size: 25px;
    text-decoration: none;
    display: flex;
    flex-direction: row;
}

.cancelIcon :hover {
    opacity: 0.7;
}

.signUp_inputs {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.signUp_inputs input {
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    padding: 0px 10px;
    border: 2px solid #eee;
    border-radius: 3px;
    transition: all 1s
}

.signUp_inputs button {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #590C69;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px;
    text-align: center;
}

.signUpBottomLine{
    display: flex;
    flex-direction: row;
    gap: 8px;
    justify-content: center;
    font-size: 13px;
    font-weight: 500;
}

.signUpBottomLine p {
    color: black;
}

@media screen and (min-width: 330px) and (max-width: 430px) {

    .SignUpCard {
        width: 280px;
    }
    
    .SignUpCard h1 {
        font-size: 22px;
    }
    
    .SignInCard .errText {
        font-size: 10px;
        font-weight: 400;
    }
    
    .SignInCard .succText {
        font-size: 10px;
        font-weight: 400;
    }
    
    .cancelIcon {
        max-width: 9px;
        font-size: 22px;
    }
    
    .signUp_inputs input {
        height: 42px;
        padding: 0px 10px;
    }
    
    .signUp_inputs button {
        height: 42px;
        font-size: 14px;
    }
    
    .signUpBottomLine{
        font-size: 11px;
    }
    
    .signUpBottomLine p {
        color: black;
    }
}

@media screen and (max-width: 329px) {
    
    .SignUpCard {
        width: 220px;
    }
    
    .SignUpCard h1 {
        font-size: 20px;
    }
    
    .SignInCard .errText {
        font-size: 9px;
        font-weight: 400;
    }
    
    .SignInCard .succText {
        font-size: 9px;
        font-weight: 400;
    }
    
    .cancelIcon {
        max-width: 8px;
        font-size: 20px;
    }
    
    .signUp_inputs input {
        height: 38px;
        padding: 0px 10px;
    }
    
    .signUp_inputs button {
        height: 38px;
        font-size: 13px;
    }
    
    .signUpBottomLine{
        font-size: 11px;
    }
    
    .signUpBottomLine p {
        color: black;
    }
}