.homeMain {
    display: flex;
    flex-direction: row;
}

.homeMain .text {
    display: flex;
    flex-direction: column;
    gap: 10px;
    color: white;
    font-size: 25px;
    font-weight: 600;
    position: absolute;
    top: 20vh;
    left: 20px;
    margin-left: 30px;
}

.homeMain .text :nth-child(2) {
    box-sizing: border-box;
    width: fit-content;
    height: fit-content;
    background-color: #0E0B15;
    padding: 5px;
    border: 1px solid ;
    border-image: linear-gradient(180deg, #ff0000, #0b0023fa) 1;
    border-bottom: none;
    margin-left: 30px;
}

.homeMain .backImage {
    margin-top: 2vh;
}

@media screen and (min-width: 1200px) {
    .homeMain .backImage .image {
        max-width: 60vw;
        height: 85vh;
        position: absolute;
        right: 0;
        z-index: -1;
    }
}

@media screen and (min-width: 960px) and (max-width: 1199px) {

    .homeMain .text :nth-child(2){
        margin-left: 30px;
    }

    .homeMain .backImage .image {
        width: 70vw;
        height: 85vh;
        position: absolute;
        right: 0;
        z-index: -1;
    }
}

@media screen and (min-width: 800px) and (max-width: 959px) {

    .homeMain .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        position: relative;
        top: 5vh;
        margin: 0 auto;
        margin-left: -30px;
        font-size: 23px;
        font-weight: 600;
    }

    .homeMain .text :nth-child(2){
        margin-left: 30px;
    }

    .homeMain .backImage .image {
        width: 95vw;
        height: 85vh;
        position: absolute;
        right: 0;
        z-index: -1;
    }
}

@media screen and (min-width: 630px) and (max-width: 799px) {

    .homeMain .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 19px;
        font-weight: 500;
        position: relative;
        top: 5vh;
        margin: 0 auto;
        margin-left: -30px;
    }

    .homeMain .text :nth-child(2){
        margin-left: 30px;
    }

    .homeMain .backImage .image {
        width: 100vw;
        height: 75vh;
        position: absolute;
        top: 20vh;
        right: 0;
        z-index: -1;
    }
}

@media screen and (min-width: 430px) and (max-width: 629px) {

    .homeMain{
        display: flex;
        flex-direction: column;
    }

    .homeMain .text {
        display: flex;
        flex-direction: column;
        gap: 10px;
        font-size: 17px;
        font-weight: 400;
        position: relative;
        top: 5vh;
        margin: 0 auto;
        margin-left: -30px;
    }

    .homeMain .text :nth-child(2){
        margin-left: 30px;
    }

    .homeMain .backImage .image {
        width: 100vw;
        height: 75vh;
        position: absolute;
        top: 20vh;
        right: 0;
        z-index: -1;
    }
}

@media screen and (min-width: 330px) and (max-width: 429px) {

    .homeMain{
        display: flex;
        flex-direction: column;
    }
    
    .homeMain .text {
        display: flex;
        flex-direction: column;
        gap: 7px;
        font-size: 15px;
        font-weight: 300;
        position: relative;
        top: 5vh;
        margin: 0 auto;
        margin-left: -30px;
    }

    .homeMain .text :nth-child(2){
        margin-left: 30px;
    }

    .homeMain .backImage .image {
        width: 100vw;
        height: 75vh;
        position: absolute;
        top: 20vh;
        right: 0;
        z-index: -1;
    }
}


@media screen and (max-width: 329px) {

    .homeMain{
        display: flex;
        flex-direction: column;
    }
    
    .homeMain .text {
        display: flex;
        flex-direction: column;
        gap: 5px;
        font-size: 13px;
        font-weight: 300;
        position: relative;
        top: 5vh;
        margin: 0 auto;
        margin-left: -30px;
    }

    .homeMain .text :nth-child(2){
        margin-left: 30px;
    }

    .homeMain .backImage .image {
        width: 100vw;
        height: 75vh;
        position: absolute;
        top: 20vh;
        right: 0;
        z-index: -1;
    }
}
