.addCard {
    width: 350px;
    height: 460px;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    background-color: #fff;
    padding: 20px;
    position: relative;
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 15px;
    z-index: 1;
}

.addCard h1{
    color: #590C69;
    font-size: 25px;
    white-space: nowrap;
    text-align: center;
    font-weight: 700;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

.add_task_inputs {
    width: 100%;
    display: flex;
    gap: 10px;
    flex-direction: column;
}

.add_task_inputs input {
    width: 100%;
    box-sizing: border-box;
    height: 45px;
    padding: 0px 10px;
    border: 2px solid #eee;
    border-radius: 3px;
    transition: all 1s
}

.add_task_inputs button {
    width: 100%;
    height: 45px;
    border: none;
    background-color: #590C69;
    font-size: 16px;
    color: #FFF;
    cursor: pointer;
    border-radius: 3px
}

.successText{
    color: white;
    background-color: green;
    width: fit-content;
    height: fit-content;
    box-shadow: rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    text-align: center;
    padding: 7px 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0 auto;
}

/* CSS for device's width less than 430px and greather than 330px */

@media screen and (min-width: 330px) and (max-width: 430px) {
    .addCard {
        width: 280px;
        height: 70vh;
    }
    
    .addCard .listIcon{
        font-size: 22px;
    }

    .addCard h1{
        font-size: 22px;
    }
    
    .add_task_inputs input {
        height: 42px;
    }
    
    .add_task_inputs button {
        height: 42px;
        font-size: 14px;
    }

}

/* CSS for device's width less than 330px */

@media screen and (max-width: 329px) {
    .addCard {
        width: 220px;
        height: 70vh;
    }
    
    .addCard .listIcon{
        font-size: 18px;
    }

    .addCard h1{
        font-size: 20px;
    }
    
    .add_task_inputs input {
        height: 38px;
        font-size: 12px;
    }
    
    .add_task_inputs button {
        height: 38px;
        font-size: 14px;
    }

}